// src/components/Button/tokens.scss

// FOUNDATIONS

// Spacing scale
$space-none: 0;
$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 24px;
$space-xl: 32px;
$space-2xl: 40px;
$space-3xl: 56px;
$space-4xl: 64px;
$space-5xl: 80px;
$space-6xl: 96px;
$space-7xl: 128px;
$space-8xl: 152px;

// Radius scale
$radius-none: 0;
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-s: 6px;
$radius-m: 8px;
$radius-l: 12px;
$radius-xl: 16px;
$radius-rounded: 99999px;

// Typography
$font-size-body-m: 14px;
$line-height-body-m: 20px;

$font-size-body-s: 13px;
$line-height-body-s: 18px;

$font-family-body: 'Inter', sans-serif;
$font-weight-body: 500;

// Motion 
$transition-fast: 0.2s ease;

// Shadow
$shadow-bottom-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

// Focus
$focus-ring-size: 3px;
$focus-ring-color: rgba(0, 0, 0, 0.12);

// BUTTON STRUCTURE

// Padding button
$button-padding-y-m: $space-xs;
$button-padding-x-m: $space-s;

$button-padding-y-s: $space-xs;
$button-padding-x-s: $space-s;

$button-padding-y-xs: $space-xs;
$button-padding-x-xs: $space-xs;

//gap button
$button-gap-m: $space-xs;
$button-gap-s: $space-xs;
$button-gap-xs: $space-xxs;

// font button
$button-font-size-m: $font-size-body-m;
$button-line-height-m: $line-height-body-m;

$button-font-size-s: $font-size-body-m;
$button-line-height-s: $line-height-body-m;

$button-font-size-xs: $font-size-body-s;
$button-line-height-xs: $line-height-body-s;

// Icon button 
$icon-button-padding: 10px;

// badge
$badge-min-size-m: 20px;
$badge-min-size-s: 20px;
$badge-min-size-xs: 16px;

$badge-radius: $radius-xs;
$badge-padding-y: $space-xs;
$badge-padding-x: 5px;

$font-size-badge: 12px;
$line-height-badge: 16px;
$font-weight-badge: 600;

// SURFACE

// Button colors
$color-surface-primary: #007031;
$color-surface-primary-hover: #005A27;
$color-surface-primary-focus: #007031;

$color-surface-secondary: #FFFFFF;
$color-surface-secondary-hover: #F5F5F5;
$color-surface-secondary-focus: #FFFFFF;

$color-surface-ghost: #FFFFFF;
$color-surface-ghost-hover: #F5F5F5;
$color-surface-ghost-focus: rgba(0, 0, 0, 0.05);

$color-surface-destructive: #D92D20;
$color-surface-destructive-hover: #B42318;
$color-surface-destructive-focus: #D92D20;

$color-surface-alpha-dark:  #c2c2c2;
$color-surface-alpha-dark-hover: #aaaaaa;
$color-surface-alpha-dark-focus: #c2c2c2;

$color-surface-alpha-light: #f5f5f5;
$color-surface-alpha-light-hover: #f6f6f6;
$color-surface-alpha-light-focus: #ffffff;

// Text colors
$color-text-primary: #ffffff;
$color-text-secondary: #171717;
$color-text-ghost: #171717;
$color-text-destructive: #dc2626;

// Icon colors
$color-icon-primary: #ffffff;
$color-icon-secondary: #737373;
$color-icon-ghost: #737373;
$color-icon-destructive: #ffffff;

$color-icon-alpha-light: #ffffff;
$color-icon-alpha-dark: #ffffff;

// Badge colors
$color-badge-primary: rgba(255, 255, 255, 0.2);
$color-badge-secondary: rgba(0, 0, 0, 0.1);
$color-badge-ghost: rgba(0, 0, 0, 0.1);
$color-badge-destructive: rgba(255, 255, 255, 0.2);

// Borders colors
$color-border-primary: rgba(0, 0, 0, 0.3);
$color-border-secondary:#D4D4D4;
$color-border-ghost: transparent;
$color-border-destructive: rgba(0, 0, 0, 0.3);

// Opacity
$opacity-disabled: 0.4;